
/* General styles*/
body{
	font-family: 'Lato', sans-serif;
	position: relative;
}
/* Header styles*/
header{
	background: url('../img_production/20130616Sankt Gallen0016-1024.jpg');
	background-size: cover;
	background-position: center top;
}
.center-aligned{
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	margin-top: 75px;
}
.navi{
	margin-top: 80px;
	margin-bottom: 30px;
	background: rgba(0,0,0,0.6);
	text-align: center;
	font-size: 20px;
	color: white;
}
header h1{
	font-size: 60px;
}
.my-picture{
	max-width: 100px;
	border-radius: 100%;
	border: 3px solid white;
}
.portfolio-header{
	color: white;
}
.social{
	padding: 15px;
	min-width: 48px;
	min-height: 48px;
	font-size: 20px;
}
.nav-pills>li>a{
	border-radius: 0px;
}
.nav-pills>li>a:hover{
	background: rgba(255,255,255,0.7);
	color: rgb(50,90,140);
}
.navi a{
	border-radius: 0px !important;
}
.navi a:hover{
	background: rgba(255,255,255,0.7) !important;
	color: rgb(50,90,140) !important;
	text-decoration: none;
}
.nav-justified>li {
    display: table-cell !important;
    width: 1%;
}

/* Portfolio Tiles */

.project{
	max-width: 350px;
	height: 200px;
	position:relative;
	margin-bottom: 30px;
}

.first{
	background: url('../img_production/20130616Sankt Gallen0005-320.jpg');
}
.second{
	background: url('../img_production/20130621ChaletCarcaixent0472-320.jpg');
}
.third{
	background: url('../img_production/20130628Barbacoa xalet1317-320.jpg');
}
.fourth{
	background: url('../img_production/20130704sin título1966-320.jpg');
}
.fifth{
	background: url('../img_production/20130704sin título1977-320.jpg');
}
.sixth{
	background: url('../img_production/gato-320.jpg');
}
.image-cover{
	background-size: cover;
	background-position: center top;
}
.text{
	background-color: rgba(0,0,0,0.5);
	color: white;
	padding: 6px;
	position: absolute;
	bottom: 0;
	height:40px;
	transition: height .5s;
	-webkit-transition: height .5s;
	-moz-transition: height .5s;
}
.text h4{
	margin:0px;
	padding-bottom:5px;
	text-align: center;
}

.text a{
	color:white;
	text-align: center;
}
.text p{
	font-size: 16px;
	text-align: justify;
	opacity:0;
}
.show-description{
	height: 100%;
}
.show-description p{
	opacity: 1;
}
.show-description h3{
	opacity: 1;
}
.sign{
	font-size: 25px !important;
}
.link{
	text-align: center;
	opacity: 0;
}

/* Footer */

.portfolio-footer{
	background-color: rgb(50,90,140);
	color: white;
	font-size: 20px;
}
.portfolio-footer h5{
	margin: 16px;
}
a{
	color:white;
}
.portfolio-footer a{
	border-radius: 0px !important;
}
.portfolio-footer a:hover{
	background: rgba(255,255,255,0.7) !important;
	color: rgb(50,90,140) !important;
	text-decoration: none;
}

/* Media queries */

@media screen and (max-width: 768px){
	header h1{
	font-size: 40px;
	}
	.sub-title{
		font-size: 20px;
	}
	.contact{
		display: none;
	}
	.navi{
		margin-top: 30px;
	}
	.left{
		text-align: left;
	}
}