
/* General styles*/
body{
	font-family: 'Lato', sans-serif;
	position: relative;
}
/* Header styles*/
header{
	background: url('../images/20130616Sankt Gallen0016.jpg');
	background-size: cover;
	background-position: center top;
}
.center-aligned{
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	margin-top: 25px;
}
.navi{
	margin-top: 80px;
	margin-bottom: 30px;
	padding:10px;
	background: rgba(0,0,0,0.6);
	text-align: center;
	font-size: 20px;
	color: white;
}
header h1{
	font-size: 60px;
}
#navigation a{
	color: white;
}
li{
	display: inline;
	padding: 12px 60px 12px 60px;
}
.my-picture{
	max-width: 100px;
	border-radius: 50px;
	border: 3px solid white;
}
.portfolio-header{
	color: white;
}

/* Portfolio Tiles */

.project{
	max-width: 350px;
	height: 200px;
	position:relative;
	margin-bottom: 30px;
}

.first{
	background: url('../images/20130621ChaletCarcaixent0472.jpg');
}
.second{
	background: url('../images/20130621ChaletCarcaixent0472.jpg');
}
.third{
	background: url('../images/20130621ChaletCarcaixent0472.jpg');
}
.fourth{
	background: url('../images/20130621ChaletCarcaixent0472.jpg');
}
.fifth{
	background: url('../images/20130621ChaletCarcaixent0472.jpg');
}
.sixth{
	background: url('../images/20130621ChaletCarcaixent0472.jpg');
}
.image-cover{
	background-size: cover;
	background-position: center top;
}
.text{
	background-color: rgba(0,0,0,0.5);
	color: white;
	padding: 10px;
	position: absolute;
	bottom: 0;
	height:40px;
	transition: height .5s;
	-webkit-transition: height .5s;
	-moz-transition: height .5s;
}
.text h4{
	margin:0px;
	padding-bottom:5px;
	text-align: center;
}
.text a{
	color:white;
}
.text p{
	font-size: 16px;
	text-align: justify;
	opacity:0;
}
.show-description{
	height: 100%;
}
.show-description p {
	opacity: 1;
}

/* Footer */

.portfolio-footer{
	background-color: rgb(50,90,140);
	color: white;
}
.portfolio-footer h5{
	margin: 16px;
}